[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
daiquiri = "*"
gitpython = "*"
thoth-analyzer = "*"
pytest-timeout = "*"
pytest-cov = "*"
pydocstyle = "*"
pylint = "*"
thoth-common = "*"

[dev-packages]

[requires]
python_version = "3.6"
